:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }
  .custom-form-field {
    width: 100%; /* Adjust the width of the mat-form-field as needed */
    width: 300px;
  }

  .mat-form-field {
    width: 100%;
    width: 300px;
    /* min-width: 400px; */
  }
  
  .input {
    width: 300px;
    /* min-width: 400px; */
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
  /* Optional: Adjust the width of the card */
mat-card {
    width: 400px; /* Adjust the width of the card as needed */
  }